* {
    margin: 0;
    padding: 0;
}

body {
    background: white url("img/sub_bg.gif") top repeat-x;
    max-width: 835px;
    margin: 0 auto;
}

header {
    margin-top: 20px;
    text-align: center;
    position: relative;
}

.logo-img {
    margin-right: 420px;
    margin-left: 20px;
}

.logo-img-white {
    display: none;
}

nav {
}

nav ul {
    display: inline-block;
}

nav li {
    list-style: none;
    text-align: center;
    float: left;
    padding: 10px 30px;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

nav a {
    text-decoration: none;
    color: rgb(24, 24, 24);
}

nav a:hover {
    color: purple;
}

.da-f {
    width: 834px;
    text-align: center;
    margin: 20px auto;
}

.f-da {
    width: 100%;
}

.ws_cover {
}

footer {
    margin-top: 200px;
    margin-bottom: 80px;
}

.inner-footer {
    display: flex;
    flex-direction: row;
}

footer h6 {
    font-size: 30px;
    margin: 5px;
}

footer p {
    font-size: 12px;
    margin: 5px;
}

@media only screen and (max-width: 840px) {
    nav li {
        padding: 10px 10px;
    }
}

/* night mode */

body {
    transition: background-color 0.5s ease;
}

.dark-mode {
    position: absolute;
    top: 30px;
    right: 30px;
}

.dark-mode .checkbox {
    opacity: 0;
    position: absolute;
}

.dark-mode .label {
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(0.8);
    -webkit-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1);
}

.dark-mode .label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.dark-mode .checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

/* dark mode victims */

body.dark {
    background: black url(img/bg.jpg) center top no-repeat;
    background-color: #000000;
}

body.dark nav li {
    border-top: solid 1px rgb(255, 255, 255);
    border-bottom: solid 1px rgb(255, 255, 255);
}

body.dark .andy {
    background-color: #292c35;
}

body.dark .ab {
    background-color: rgb(29, 31, 43);
    color: white;
}

body.dark .con-con {
    background-color: rgb(29, 31, 43);
}

body.dark .pera p {
    color: rgb(255, 255, 255);
    background-color: rgb(29, 31, 43);
}

body.dark p,
body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6,
body.dark a {
    color: white;
}

body.dark .home h1,
body.dark .home h3,
body.dark .home h5 {
    color: rgb(29, 31, 43);
    background-color: rgba(170, 170, 170, 0.822);
    padding: 8px;
}

body.dark .bout {
    background-color: rgb(29, 31, 43);
}
/*
body.dark .con-nav li {
    background-color: rgb(29, 31, 43);
}
*/

body.dark .maply {
    background-color: #292c35;
}

body.dark .info {
    background-color: #292c35;
}

body.dark .title {
    background-color: rgb(29, 31, 43);
}

body.dark .boby {
    background-color: #292c35;
}

body.dark .logo-img-black {
    display: none;
}

body.dark .logo-img-white {
    display: inline-block;
}

body.dark .da-f {
    width: 794px;
    border: 20px solid rgb(0, 0, 0);
    margin: 0px auto;
}
/* /dark mode victims */
